<footer>
    <div class="container-fluid main-color pt-5 pb-4">
      <div class="row p-5 gy-5 text-white">
        <div class="col-md-4">
          <div class="location text-center">
            <h3 class="text-uppercase">Location</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="links text-center">
            <h3 class="text-uppercase">Around The Web</h3>
            <ul class="list-unstyled d-flex justify-content-center social gap-2">
              <li>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="caption text-center">
            <h3 class="text-uppercase">About Freelancer</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-dark copy-rights p-4 text-white d-flex justify-content-center align-items-center"
    >
      <p class="mb-0">Copyright © Your Website 2025</p>
    </div>
  </footer>
  