<div class="not-found-container">
    <div class="not-found-content">
      <h1>404</h1>
      <p>Oops! The page you're looking for doesn't exist.</p>
      <a routerLink="/" class="home-btn">Go Back Home</a>
    </div>
    <div class="not-found-illustration">
      <img src="https://img.freepik.com/free-vector/glitch-background_23-2148068933.jpg?t=st=1736424114~exp=1736427714~hmac=a37b1736a90946087f37149ab4765b536acdb1260a52c3e35206d5b400b188a8&w=740" alt="Not Found Illustration" />
    </div>
  </div>
  