.portfolio {
    min-height: 80vh;
}

.portfolio .container {
    margin-top: 125px;
}

.layer {
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(84, 72, 248, 0.9);
    color: #fff;
    opacity: 0;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.img-holder:hover .layer {
    opacity: 1;
}