<section class="bg-dark main-section">
    <div class="container d-flex justify-content-center align-items-center h-100">
      <div class="about text-white pt-5">
        <div class="heading position-relative text-center">
          <h1 class="text-uppercase fw-bolder">about component</h1>
        </div>
        <div class="row bottom-heading px-3">
          <div class="col-md-6">
            <p class="opacity-75">
              Freelancer is a free bootstrap theme created by Route. The download
              includes the complete source files including HTML, CSS, and
              JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
          <div class="col-md-6">
            <p class="opacity-75">
              Freelancer is a free bootstrap theme created by Route. The download
              includes the complete source files including HTML, CSS, and
              JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  