.contact {
    min-height: 80vh;
}

.contact .container {
    margin-top: 125px;
}

form label {
    transition: 0.5s ease-in-out;
}

.hidden-label {
    position: relative;
    top: 50px;
}

.hidden-label.show {
    top: 0;
}

form input {
    position: relative;
}

@media (max-width: 768px) {
    form {
        width: 100% !important;
        padding-inline: 10px;
    }
}