<header class="bg-dark main-section">
    <div class="container d-flex justify-content-center align-items-center h-100">
      <div class="info text-white text-center pt-5">
        <img
          src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
          alt="Hero-img"
          class="hero-img mb-4"
        />
        <div class="heading position-relative">
          <h1 class="text-uppercase fw-bolder">start Framework</h1>
        </div>
        <div class="bottom-heading">
          <p class="opacity-75">Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>
    </div>
  </header>
  